.Header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 82, 0);
  color: white;
}

.Header__Logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.Title {
  display: none;
}

.Icon {
  font-size: 25px;
}

.Header a {
  color: white !important;
}

.Header h1 a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.Header__Menu {
  padding-right: 10px;
}

.Header__Menu span a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

@media only screen and (min-width: 400px) {
  .Title {
    display: inline;
  }
}
