.NotFoundPage__Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-right: 10px;
  padding-bottom: 200px;
  padding-left: 10px;
}

.NotFoundPage__Main h1 {
  font-size: 36px;
  margin: 0;
  padding: 33px;
}

.NotFoundPage__Main h3 {
  font-size: 24px;
  margin: 0;
  padding: 33px;
}

.NotFoundPage__Main button {
  margin-top: 33px;
}

.NotFoundPage__Main a {
  text-decoration: none;
  color: black;
}
